<head>
  <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1' />
  <title>Counter</title>
</head>

<body>
  <div class="ui single column center aligned container">
    {{> main}}
  </div>
</body>

<template name="main">
  <h1 class="ui header">Counter</h1>
  <div class="ui message">
    <i class="close icon"></i>
    <div class="header">
      Welcome back!
    </div>
    <p>This software application (hereafter known as "the program") is for counting things only. Do not use the program in any other manner than its intended purpose. No warranty or any of that shit. Copyfuck 2015, no rights reserved.</p>
  </div>
  {{#each players}}
    <div class="ui segment">
      <h3 class="ui header">{{this}}</h3>
      <h4>
        Level
        <button class="ui button decrement" id="{{this}}">
          <i class="minus icon"></i>
        </button>
        {{playerScore this}}
        <button class="ui button increment" id="{{this}}">
          <i class="add icon"></i>
        </button>
      </h4>
      <!-- <h4>
        Equipment
        <button class="ui button decrement" id="{{this}}">
          <i class="minus icon"></i>
        </button>
        {{playerScore this}}
        <button class="ui button increment" id="{{this}}">
          <i class="add icon"></i>
        </button>
      </h4> -->
    </div>
  {{/each}}
  <div class="ui basic segment">
    <button class="ui button" id="configurePlayersButton">
      <i class="settings icon"></i> configure players
    </button>
    <div class="ui raised segment" id="playerConfigurationPanel">
      <h2 class="ui header">Player Configuration</h2>
      <!-- {{> quickForm collection="Games" id="newGameForm" type="insert"}} -->
      <form class="ui form">
        <div class="field">
          <label>Player 1 Info</label>
          <input type="text" placeholder="First Player Name" id="playerName01">
        </div>
        <div class="field">
          <label>Player 2 Info</label>
          <input type="text" placeholder="Second Player Name" id="playerName02">
        </div>
        <div class="field">
          <label>Player 3 Info</label>
          <input type="text" placeholder="Third Player Name" id="playerName03">
        </div>
        <div class="field">
          <label>Player 4 Info</label>
          <input type="text" placeholder="Fourth Player Name" id="playerName04">
        </div>
        <button class="ui button" id="savePlayerConfiguration">
          <i class="save icon"></i> Save
        </button>
      </form>
    </div>
  </div>
</template>
